
# LED strip parameters
led_brightness: 0.5
num_leds: 60
led_order: GRB  # WS2812 LEDs are in GRB byte order
bpp: 3  # Bytes per pixel - 3 for RGB, 4 for RGBW

# Twitch connection values
host: "irc.twitch.tv"
port: 6667

# Bot Name and Channel
nick: RoyGBiv
channel: Bots4All

# Logging to file and directory values, logging level
log_default_level: DEBUG  # default level must be less or equal to the different handlers

# Logging to file "streammonitor" in the directory noted below
log_file_enabled: true
log_file_directory: logs/
log_file_level: DEBUG

# Logging to console (stdout)
log_console_enabled: true
log_console_level: DEBUG

# Command config parameters
command_characters: "!#"
min_command_time: 1.0


